@model PagedList.IPagedList<Repository_and_Unit_of_Work_Patterns.Models.Student>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var student = ViewBag.student as PagedList.IPagedList<Repository_and_Unit_of_Work_Patterns.Models.Student>;
}


<table>
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            FirstMidName
        </th>
        <th>
           @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in student)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Home", new { id = item.StudentID }, null) |
                @Html.ActionLink("Details", "Details", "Home", new { id = item.StudentID }, null) |
                @Html.ActionLink("Delete", "Delete", "Home", new { id = item.StudentID }, null)
            </td>
        </tr>
    }

</table>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
            </div>
        </section>
    }


Page @(student.PageCount < student.PageNumber ? 0 : student.PageNumber) of @student.PageCount

@Html.PagedListPager(student, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))